
body{
    direction: rtl;
    font-family: 'HelveticaNeue';
    color: #fff;
    overflow-x: hidden;


}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
    src: local('☺'),  url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.header{
    background: #000;
    position: relative;
    top: 0;
    z-index: 100;
    padding-top: 5px;
    padding-bottom: 5px;
}
header .row  a {
    color: #ffff;
    padding-left:10px;
    font-size: 12px;
    text-transform: uppercase;;
   
}
header span{
    padding-left: 10px;;
}

header .row  a:hover{
    text-decoration: none;
    color:rgb(250, 225, 158);
}

.btn-group>.btn:first-child {
    margin-left: 0;
    background: transparent;
    color: #fff;
}

.scrollToTop {
	background-color: #0091ea;
	bottom: 60px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	height: 55px;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

.mu-single-slide:before {
	background-color:#8481b0;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#8481b0, endColorstr=#73b58c);
	background-image:-moz-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-webkit-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-o-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-ms-linear-gradient(left, #8481b0 55%, #73b58c 22%,#69bbd5 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(55%,#8481b0), color-stop(22%,#73b58c),color-stop(100%,#69bbd5));
}

a:hover,
a:focus,
.mu-book-now-btn,
.mu-copy-right a:hover,
.mu-copy-right a:focus,
.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-logo,
.mu-logo:hover,
.mu-logo:focus,
.mu-client-quote,
.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next,
.mu-clients-slider .slick-prev::before, 
.mu-clients-slider .slick-next::before,
.my-why-us-single-icon {
	color: #0091ea;
}


.scrollToTop,
.mu-testimonial-slide .slick-dots li.slick-active,
#mu-callto-action {
	background-color: #0091ea;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #0091ea;
	color: #0091ea;
}

.mu-contact-form .form-control:focus,
.mu-featured-tours-single-info .mu-book-now-btn {
	border: 1px solid #0091ea;    
} 

.mu-send-msg-btn,
.mu-send-msg-btn:focus,
.mu-register-btn:hover,
.mu-register-btn:focus {
	border: 1px solid #0091ea;
	background-color: #0091ea;
}

.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next {
	border: 2px solid #0091ea;
}

/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
	background-color: #0091ea;
	display: inline;
	float: left;
	width: 100%;
}

.mu-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.mu-navbar .mu-logo {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
}

.mu-logo span{
	display: inline-block;
}

.mu-logo img {
	margin-top: -5px;
}

.mu-navbar .mu-logo:hover,
.mu-navbar .mu-logo:focus {
	color: #fff;
}

.mu-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-scrolldown {
	font-size: 40px;
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
	color: #fff;
}


/*--------------------*/
/* MENUE */
/*--------------------*/

.mu-navbar {
	padding: 20px 0;
}

.mu-navbar-nav {
	display: block;
	text-align: right;
	width: 100%;
}

.mu-navbar-nav li {
	list-style: none;
	display: inline-block;
}

.mu-navbar-nav li a {
	color: #fefeff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 9px 18px;
	border-radius: 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.mu-navbar-nav li.active a,
.mu-navbar-nav li a:hover,
.mu-navbar-nav li a:focus {
	background-color: #fff;
	color: #0091ea;
}



.mu-navbar-nav .dropdown-menu {
	left: auto;
	right: 0;
}

.mu-navbar-nav li .dropdown-menu a {
	color: #444;
	padding: 6px 15px;
}

.mu-navbar-nav li .dropdown-menu a:hover,
.mu-navbar-nav li .dropdown-menu a:focus {
	color: #0091ea;
}
